<nav class="blue darken-2">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">My App</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li class="active"><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>